.form-horizontal{
    background-color: #fff;
    font-family: 'Blinker', sans-serif;
    text-align: center;
    padding: 20px 10px 20px;
    margin: 50px 0 0;
    border: 5px solid #fdb92e;
    border-radius: 10px;
}
.form-horizontal .form-icon{
    color: #fff;
    background-color: #fdb92e;
    font-size: 60px;
    line-height: 120px;
    height: 120px;
    width: 130px;
    margin: -80px auto 20px;
    border-radius: 50%;
    box-shadow: 0 0 13px -5px #000;
}
.form-horizontal .form-group{ margin: 0 0 20px; }
.form-horizontal label{
    color: #555;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding: 0;
    display: block;
}


.form-horizontal .btn{
    color: #fff;
    background-color: #fdb92e;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    width: 60%;
    padding: 7px 10px;
    margin: 0 auto 15px;
    border: none;
    border-radius: 5px;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
}
