
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .rounded-4 { border-radius: .5rem; }
  .rounded-5 { border-radius: .75rem; }
  .rounded-6 { border-radius: 1rem; }
  
  .modal-sheet .modal-dialog {
    width: 380px;
    transition: bottom .75s ease-in-out;
  }
  
  
  .modal-alert .modal-dialog .modal-tour{
    width: 380px;
  }
  
  .border-right { border-right: 1px solid #eee; }

  .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }

  .dropdown-toggle {
    outline: 0;
  }

  .text-small {
    font-size: 85%;
  }
  
  .container {
    padding: 2rem 0rem;
  }
  
  .table-image>thead>td th {
    border: 0;
        color: #666;
        font-size: 0.8rem;
  }

  .table-image>td th{
    vertical-align: middle;
      text-align: center;
  }

  .price {
    margin-left: 1rem;
  }
  
  .modal-footer {
    padding-top: 0rem;
  }